@import "tailwindcss";

@theme {
  --color-base-dark: #5c4d56;
  --color-base-muted: #a18e96;
  --color-accent-rose: #a87676;
  --color-accent-coral: #f0a18c;
  --color-cream: #f7e1b5;
}

body {
  /* Ab Tailwind v4 mein variables use karne ka tariqa ye hai */
  background-color: var(--color-base-dark);
  color: var(--color-cream);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}